<ion-header>
    <ion-navbar color="primary">
      <ion-title *ngIf="!categoryTitle">插圖</ion-title>
      <ion-title *ngIf="categoryTitle">{{categoryTitle}} posts</ion-title>
      <!--<ion-buttons *ngIf="loggedUser" end>
        <button ion-button icon-only (click)="logOut()">
          <ion-icon class="toolbar-icon" name="log-out"></ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons *ngIf="!loggedUser" end>
        <button ion-button icon-only (click)="goToLogin()">
          <ion-icon class="toolbar-icon" name="log-in"></ion-icon>
        </button>
      </ion-buttons>-->
      <ion-buttons end>
        <button ion-button icon-only menuToggle>
          <ion-icon name='menu'></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  <ion-content class="content">
    


    <ion-grid>
        <ion-row>
          <ion-col  (click)="postTapped($event, post)" col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3 *ngFor="let post of posts">
           {{post.title.rendered}}
          </ion-col>
        </ion-row>
      </ion-grid>


    <ion-infinite-scroll [enabled]="morePagesAvailable" (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more posts ...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
  
  
  