
page-posts{

    ion-card.category-thumbnail {
        top:42px;
        height: calc(100vh/3);
        position: relative;
        text-align: right;
        transition: height .5s;

       
        
        
        .card-title {
            position: absolute;
            padding-right:15px;
            bottom: 8%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: #fff;
            padding: 6px 10px;
            text-shadow: 0  4px 0 rgba(0,0,0,0.37);
            background-color: rgba(0,0,0,.4);
        }

        img {
            position:relative; top:-50%;
            transition: top .5s;
        }
    
    }

    ion-card.category-thumbnail.down {
        height: calc(100vh/6);
        img {
            position:relative; top:-150%;
        }
    }
    .content {
        top: calc(100vh/3);
        height: calc(((100vh/3)*2));
        transition: height .5s;
    }
    .content.down {
        top: calc(100vh/6);
        height: calc(((100vh/6)*5));
    }
    ion-list ion-item {
        ion-thumbnail {
          margin:0!important;
        }
    
        .item-inner {
          padding:8px 10px 8px 20px;
          h2 {
              font-size:2.0rem;
          }
        }
    }

    
}
  