<ion-header>
  <ion-navbar color="primary">
    <ion-title *ngIf="!categoryTitle">文章</ion-title>
    <ion-title *ngIf="categoryTitle">{{categoryTitle}}</ion-title>
    <!--<ion-buttons *ngIf="loggedUser" end>
      <button ion-button icon-only (click)="logOut()">
        <ion-icon class="toolbar-icon" name="log-out"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons *ngIf="!loggedUser" end>
      <button ion-button icon-only (click)="goToLogin()">
        <ion-icon class="toolbar-icon" name="log-in"></ion-icon>
      </button>
    </ion-buttons>-->
    
  </ion-navbar>
  
    

    

</ion-header>




    <ion-card *ngIf="category" class="category-thumbnail {{scrollDirection}}">
        <img *ngIf="category.description" [src]="category.img_large"/>
        <div class="card-title" [innerHTML]="category.name"></div>
    </ion-card>
<ion-content (ionScroll)="scrollHandler($event)"  class="content {{scrollDirection}}">
  <ion-list  >  
    <ng-container *ngFor="let post of posts; let i = index" >
      <ion-item (click)="postTapped($event, i)">
        <h2 [innerHTML]="post.title.rendered"></h2>
      </ion-item>
    
    </ng-container>
  </ion-list>

    <ion-infinite-scroll  [enabled]="morePagesAvailable" (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content
      loadingSpinner="bubbles">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>

  
  
  