
page-posts{

    ion-card.category-thumbnail {

        height:280px;
        position: relative;
        text-align: right;
        transition: height .5s;

       
        
        
        .card-title {
            position: absolute;
            padding-right:15px;
            bottom: 8%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: #fff;
            padding: 6px 10px;
            text-shadow: 0  4px 0 rgba(0,0,0,0.37);
            background-color: rgba(0,0,0,.4);
        }

        img {
            position:relative; top:-50%;
            transition: top .5s;
        }
        
       
    
    
    }

    .content {
        margin-top:290px;
        transition: height .5s;
        margin-bottom:100px;
    }

    .content.down {
        margin-top:90px;
    }

    ion-card.category-thumbnail.down {
        height:90px;
        img {
            position:relative; top:-150%;
        }
    }
}
  