<ion-header>
  <ion-navbar color="primary">
    <ion-title *ngIf="!categoryTitle">小說連載</ion-title>
    <ion-title *ngIf="categoryTitle">{{categoryTitle}}</ion-title>
   
    
  </ion-navbar>
</ion-header>

<ion-content class="content categories-page">


    <ion-list>
        <ion-item (click)="goToCategoryPosts(category.id, category.name)" *ngFor="let category of categories">
          <ion-thumbnail item-start>
            <img *ngIf="category.description" [src]="category.img_thumbnail">
          </ion-thumbnail>
          <h2 [innerHTML]="category.name"></h2>
          <p>{{category.count}}篇</p>
          <button ion-button clear item-end><ion-icon name='arrow-forward'  color="bright"></ion-icon></button>
        </ion-item>
    </ion-list>

   
   
   
    <ion-infinite-scroll [enabled]="morePagesAvailable" (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more posts ...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
  
  
  